.App {
  text-align: center;
}

.animes-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );/* repita quantas colunas couber na tela, com largura minima de 200px e o max espaço vazio que encontrar */
  list-style: none;
  grid-gap: 1.5rem; /* espaçamento entre as colunas */
}

.animes-list img {
  max-width: 100%;
  border-radius: 5px;
}